
.header-description > div:first-of-type {
 
  width: 195px;
}
.header-description > div:last-child {
  width: 315px;
}
.header-description {
  display: flex;
  border-top: 1px solid rgba(132, 139, 148, 0.3);
  padding-top: 6px;
  color: $gray;
  justify-content: space-between;
  #user {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  
  }
  h4 {
  
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    svg {
      margin-left: 4px;
    }
  }
  b{
    font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #272833;
  }
}
