
.side-popup{
  box-shadow: 0px 6px 21px rgba(83, 92, 105, 0.15);
  position: absolute;
  transition: all ease-in-out 0.3s;
  z-index: 10;
  background-color: $sidepopup-gray;
  
  padding: 5px;
  border-radius: 10px;
  [data-modalbtn="Create section"]{
    svg{
      width: 15px;
      height: 15px;
    }
  }

    .triangle{
      top: -1px;
  right: 9px;
  rotate: 319deg;;
  -webkit-box-shadow: -6px 6px 21px rgba(83, 92, 105, 0.3);
  box-shadow: -6px 6px 21px rgba(83, 92, 105, 0.3);
    }


    padding: 5px;
    border-radius: 10px;
    button:hover{
    
        background: #c6eefc;
      
    }
    &__item{
      button{
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 5px 10px;
        color: #525c69;
        font-size: 10px;
        font-weight: 400;
        text-decoration: none;
        background:  $light;
        border-radius: 5px;
        margin-bottom: 2px;
        position: relative;
        text-align: start;
        width: 100%;
      }
     
  svg{
    width: 10px;
  height: 10px;
  margin-right: 7px;
  }
    }
}